<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid-19 no Pará</title>
    <!--

    Template 2108 Dashboard

	http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="css/fontawesome.min.css" th:href="@{../css/fontawesome.min.css}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/tooplate.css" th:href="@{../css/tooplate.css}">
</head>

<body id="reportsPage" style="background:#589ca7 no-repeat center top;">
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                            <h1 class="tm-site-title mb-0"> Covid-19 no Pará</h1>
                        </a>
                    </nav>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Casos por dia</h2>
                        <canvas id="casosPorDiaChart" style="display: block; height: 220px; width: 286px;"></canvas>
                    </div>
                </div>
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Casos acumulados</h2>
                        <canvas id="casosAcumuladosChart" style="display: block; height: 220px; width: 286px;"></canvas>
                    </div>
                </div>
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <h6 class="tm-block-title">Links relevantes</h6>
                        <h3 style="font-size: 16px" class="tm-block-title"><a
                                href="https://www.youtube.com/watch?v=xLXuP4m4uQ4&t=680s" target="_blank">
                                A importância da quarentena</a></h3>
                        <h3 style="font-size: 16px" class="tm-block-title"><a
                                href="https://www.bbc.com/portuguese/geral-52069734" target="_blank">
                                Fim do isolamento não impede recessão econômica</a></h3>
                        <h3 style="font-size: 16px" class="tm-block-title"><a
                                href="https://www.bbc.com/portuguese/internacional-52075870" target="_blank">
                                Estudo da quarentena durante a gripe espanhola
                            </a></h3>
                    </div>
                </div>

            </div>

            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Óbitos por dia</h2>
                        <canvas id="obitosPorDiaChart" style="display: block; height: 220px; width: 286px;"></canvas>
                    </div>
                </div>
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Óbitos acumulados</h2>
                        <canvas id="obitosAcumuladosChart"
                            style="display: block; height: 220px; width: 286px;"></canvas>
                    </div>
                </div>
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Fontes</h2>
                        <h3 style="font-size: 16px" class="tm-block-title"><a
                                href="https://covid.saude.gov.br/">Ministério da Sáude</a></h3>
                        <h3 style="font-size: 16px" class="tm-block-title"><a
                                href="http://www.saude.pa.gov.br/coronavirus/">Secretaria de Sáude
                                do Pará</a></h3>
                        <a style="font-size: 16px">Atualizado em 07/05/2020 21:19</a><br><br>
                        <a style="font-size: 9px">*O cálculo da tendência é feito com base nos casos já confirmados e
                            corrigido quando novos são informados</a>
                    </div>
                </div>

            </div>

            <footer class="row tm-mt-small">
                <div class="col-12 font-weight-light">
                    <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                        Copyright &copy; 2020. Criado Por
                        <a href="https://www.instagram.com/_miguel_itallo/" class="text-white tm-footer-link">Miguel
                            Itallo</a> | Template por <a href="http://www.tooplate.com"
                            class="text-white tm-footer-link">Toop Late</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="js/utils.js"></script>
    <script src="js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/regression/1.4.0/regression.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
    <script src="js/tooplate-scripts.min.js"></script>
    <script>
        let ctxLine,
            optionsLine,
            configLine,
            lineChart;
        // DOM is ready
        $(function () {
            updateChartOptions();
            getData();
        })
    </script>
</body>

</html>